@charset "utf-8";
/* CSS Document */
/*  Main Basic Styling */
body{
	background:#292929;
	margin:0;
	padding:0;
}
.block_header {
	margin:0 auto;
	width:960px;
	height:135px;
	-moz-box-shadow:0px 0px 30px #000;
	-webkit-box-shadow:0px 0px 30px #000;
	box-shadow:0px 0px 30px #000;
	behavior: url(ie-css3.htc);
	background: url(../images/bg_top.jpg) repeat-x top;
	border:1px solid #00e4f8;
	}
	
/*.leftshadow {display:inline-block; float:left;margin:0; padding:0; height:135px; width:10px; background-color:#F00; background: url(../images/ltshd.jpg) top;}
.centerblock {display:inline-block; float:left;margin:0 auto; background: url(../images/bg_top.jpg) repeat-x top; height:133px;width:938px; border:1px solid #1c6cbe;-moz-box-shadow:0px 0px 30px #000;behavior: url(ie-css3.htc);}
.rightshadow {display:inline-block; clear:right;margin:0; padding:0; height:135px; width:10px; background-color:#F00; background: url(../images/rtshd.jpg) top;}
.bottomshadow {margin:0 auto;  height:10px; width:950px; background-color:#F00; background: url(../images/btshd.jpg) repeat-x top;}*/

.content {
	margin:30px auto;
	width:960px;
	height:auto;
	min-height:500px;
	background:#4197ee url(../images/bg_top.jpg) repeat-x top ;
	border:1px solid #00e4f8;
	overflow:auto;
	-moz-box-shadow:0px 0px 30px #000;
	-webkit-box-shadow:0px 0px 30px #000;
	box-shadow:0px 0px 30px #000;
	behavior: url(ie-css3.htc);
	/*background: url(../images/cntntbck.jpg) repeat top;*/
	
}

.footer {
	width:960px;
	margin:0 auto;
	padding:20px 0;
	font:normal 10px Tahoma, Geneva, sans-serif;
	background:url(../images/cntntbck.jpg) repeat top;
	-moz-box-shadow:0px 0px 30px #000;
	-webkit-box-shadow:0px 0px 30px #000;
	box-shadow:0px 0px 30px #000;
	behavior: url(ie-css3.htc);
	/*background:#6d0019;*/
	border:1px solid #00e4f8;
	font-weight:bold;
	color:#FFF;
	text-align:center;
}

.footer ul {list-style: none;margin: 0;padding: 0;}
.footer ul li {display:inline;margin: 0px;}
.footer ul li a{color:#003;text-decoration:none;margin:17px 35px 0 15px; padding:5px 0;}
.footer ul li a:hover {color:#fff;}

.cnthead{
	width:100%;
	height:100px;
	border-bottom:1px dashed  #333;

	
}

.cnthead .txtshd{
	display:inline-block;
	clear:both;
	width:300px;
	font:normal 22px Tahoma, Helvetica, sans-serif; 
	color:#000; 
	text-shadow:0px 0px 3px #191919;
	margin-left:50px;
	padding-top:35px;
	
}

.img_rt{
	float:right;
	padding-right:15px;
	clear:both;
}


.content .wrap {
	margin:0;
	padding:10px;
	display:inline-block;
	width:934px;
	min-height:400px;
}

.content .wrap .leftcol {
	margin-left:10px;
	border:1px solid #00e4f8;
	float:left;
	width:180px;
	min-height:390px;
	padding:10px;
}
.content .wrap .rightcol {
margin-left:10px;
width:690px;
border:1px solid #00e4f8;
float:left;
min-height:390px;
padding:10px;
}

.content .wrap .topcol {
	margin-left:10px;
	border:1px dashed #00e4f8;
	min-height:150px;
	padding:10px;
}
.content .wrap .botmcol {
margin-top:10px;
margin-left:10px;
border:1px dashed #00e4f8;
min-height:41px;
padding:10px;
}

.content .wrap .botmcol .radios {
/*border:1px dashed #00e4f8;
*/min-height:20px;
padding:10px;
padding-left:0;
}

.content .wrap .botmcol .radios label{
margin-right:120px;
}


.txtshd{
	text-shadow:0px 0px 3px #191919;
}

.rightcol .name
{
	font:bold 25px Tahoma, Geneva, sans-serif;
}

.butns
{
	
	margin-top:10px;
	width:236px;;
	display:block;
	float:right;
}

/* Styling for the CSS3 Button Goess here */

.button {
	display: inline-block;
	zoom: 1; /* zoom and *display = ie7 hack for display:inline-block */
	*display: inline;
	margin: 0 2px;
	outline: none;
	cursor: pointer;
	text-align: center;
	text-decoration: none;
	font: 14px/100% Arial, Helvetica, sans-serif;
	padding: .5em 2em .55em;
	text-shadow: 0 1px 1px rgba(0,0,0,.3);
	-webkit-border-radius: .5em; 
	-moz-border-radius: .5em;
	border-radius: .5em;
	-webkit-box-shadow: 0 1px 2px rgba(0,0,0,.2);
	-moz-box-shadow: 0 1px 2px rgba(0,0,0,.2);
	box-shadow: 0 1px 2px rgba(0,0,0,.2);
	font-weight:bold;
}
.button:hover {
	text-decoration: none;
}
.button:active {
	position: relative;
	top: 1px;
}


.rosy {
	color: #fae7e9;
	border: solid 1px #b73948;
	background: #da5867;
	background: -webkit-gradient(linear, left top, left bottom, from(#f16c7c), to(#bf404f));
	background: -moz-linear-gradient(top,  #f16c7c,  #bf404f);
	filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#f16c7c', endColorstr='#bf404f');
}
.rosy:hover {
	background: #ba4b58;
	background: -webkit-gradient(linear, left top, left bottom, from(#cf5d6a), to(#a53845));
	background: -moz-linear-gradient(top,  #cf5d6a,  #a53845);
	filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#cf5d6a', endColorstr='#a53845');
}
.rosy:active {
	color: #dca4ab;
	background: -webkit-gradient(linear, left top, left bottom, from(#bf404f), to(#f16c7c));
	background: -moz-linear-gradient(top,  #bf404f,  #f16c7c);
	filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#bf404f', endColorstr='#f16c7c');
}

/*------ review question table ----------- */
.wrap .revtab
{
       font-size:16px;
       border:1px dashed #00e4f8;
       border-collapse:collapse;
       -moz-box-shadow:0px 0px 10px #444;
       -webkit-box-shadow:0px 0px 10px #444;
       box-shadow:0px 0px 10px #444;
       
}

.wrap .revtab td
{
       
       padding:5px 10px;
       border-bottom:1px dashed #00e4f8;
       border-left:1px dashed #00e4f8;
       
}